{% extends "base_generic.html" %}

{% block content %}
    <h1>ALL Borrowed Books</h1>

    {% if bookinstance_list %}
        <ul>
            {% for bookinst in bookinstance_list %}
                <li class="{% if bookinst.overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{bookinst.due_back }})
                </li>
                <li>
                    <p>Checked out by {{bookinst.borrower}}</p>
                </li>

            {% endfor%}
        </ul>

    {% else %}
    <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}