{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>

  <button type="button">
    <a href="{% url 'author-update' author.pk %}">Update This Author</a>
  </button>

  <button type="button">
    <a href="{% url 'author-delete' author.pk %}">Delete This Author</a>
  </button>
  <br />
  <br />

  <p>Born: {{author.date_of_birth}} - Died: {{author.date_of_death}}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
<!--     {% for book in book_list %}
        <hr>
        <p><strong>{{ book.title }}</strong></p>
        <p class="text-muted">{{ book.summary}}</p>
    {% endfor %} -->
  </div>


{% endblock %}
